# THIS IS AN EXAMPLE FILE.
# To run the project, create a copy of this file named 'secrets.yaml'
# and fill it with your desired credentials for the new database.
# The 'secrets.yaml' file is already included in .gitignore and will not be committed.

secret:
  # The desired username for the PostgreSQL database.
  POSTGRES_USER: "smachno_user" # <-- CHOOSE YOUR USERNAME

  # The desired password for the PostgreSQL user. Make it strong!
  POSTGRES_PASSWORD: "a-very-strong-and-secret-password" # <-- CHOOSE YOUR PASSWORD

  # The name of the database that will be created.
  POSTGRES_DB: "smachno_db" # <-- CHOOSE YOUR DATABASE NAME